<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Cart\Payment\AdditionalDataProviderPool">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="alma_monthly_payments" xsi:type="object">Alma\GraphQL\Model\AlmaPlanDataProvider</item>
            </argument>
        </arguments>
    </type>
</config>
